body {
	font-size:16px; /*Non cancellare, tutti gli altri font si scrivono in percentuale di questo! */
}

#title { /*class item*/
	font-size:200%;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: red;
}


.item {
	flex-grow: 1;
	align-self: center;
	
	margin: 0.3vh;
	background-color: blue;
	text-align: center;
}



#Image { /*class item*/
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
 
  height: 100vh;
  /* height: auto; */
  /* width: 100vw; */
  background-size:cover;
  background-image: url('979749.jpg');
  background-position:center;
  
}



h1 {
  flex-grow: 0 !important;
  
  font: 50px/1.3 "Abril Fatface", serif; 
  color: #fff;
  text-align: center;
  background-color: transparent !important;
}

h2 {
  flex-grow: 0 !important;
  
  font: 12px/1.7 'Source Code Pro', monospace;
  color: #fff;
  text-align: center;
 background-color: transparent !important;
}

h3 {
  flex-grow: 1 !important;
  background-color: transparent;
}






